<div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2  class="title">Top Business News</h2>
        <ng-container *ngIf="newsSources.length > 0; else errorTemplate">
        <app-app-card-business [newsSources]="newsSources"></app-app-card-business>
      </ng-container>
      <ng-template #errorTemplate>
        <p>We are currently facing some issues fetching the latest business news. Please check back in a few moments.</p>
      </ng-template>
      </div>
    </div>
  </div>
  
